.comment-section {
  margin: 0 0 1rem;
}

.comment-item {
  margin: 0 0 0.5rem;
}

.comment-item .username {
  margin-right: 1rem;
  font-weight: bold;
}

.comment-section .timestamp {
  display: block;
  margin: 0 0 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgrey;
  font-size: 1.4rem;
}

.comment-section .comment-input {
  width: 100%;
  border: none;
  font-size: 1.6rem;
  padding: 1rem 0;
}
